.problemPageContainer{
    height: 100%;
}
.problemsContainer{
    height: 100%;
    padding: 10px;
}
.ant-card-bordered{
    border:0;
}
.searchHeaders{
    display: flex;
    flex-direction: row
}

.problems-list{
    padding: 0 50px 0 50px;
}

ul.ant-list-item-action a{
    color: #1890ff
}
.site-description-item-profile-p {
  display: block;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}
.ant-tag-purple{
    font-size: medium !important;
    font-weight: 500 !important;
}
.ant-tag-blue{
    font-size: medium !important;
    font-weight: 500 !important;
}

.tags{
    border: 1px solid #ccc;
    padding: 5px;
}
.legend{
    display: flex ;
    flex-direction: row ;
    font-size: medium ;
}

.problemLoading{
    position: absolute;
    left:45%;
    top:45%;
}